# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Production build output
dist/
dist-ssr/
public/build/

# Local env files
*.local
.env
.env.* 

# Cache directories
.cache/
.nyc_output/
coverage/

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swx