# General ignores
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar

# Keep build artifacts inside source folders (if any)
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore build directories from other build systems (in case used)
build/

# Keep build artifacts inside source folders (if any)
!**/src/main/**/build/
!**/src/test/**/build/

# Temporary files and logs
*.log
*.tmp

# macOS system files
.DS_Store

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/