# Ignore Maven target directories
target/
build/

# Ignore Maven wrapper JAR
.mvn/wrapper/maven-wrapper.jar

# Common Maven/Java build artifacts
*.class
*.jar
*.war
*.log

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/