# Maven build output directory
/target/

# Maven wrapper files
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Eclipse/STS files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# IntelliJ IDEA files
.idea
*.iws
*.iml
*.ipr
out/

# NetBeans files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Additional common ignores
HELP.md